body {
  height: 100vh;
  background-color: rgb(51,51,51);
  color: white;  
}

.container{
  background-color: rgb(39,39,39);
}

#puzzle-board{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
}

#puzzle-board-header{
  height: 150px;
  position: relative;
}

#puzzle-board-pieces{
  height: 450px;
  position: relative;
}

.puzzle-piece{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  float:left;    
  height: 56px;
  width: 56px;
}

    